<!DOCTYPE html>
<html>

<head>
    <title>LOGIN</title>
    <script type="text/javascript" src="/scripts/config.js"></script>
    <script type="text/javascript" src="/scripts/login.js"></script>
</head>

<body>
    Name: <input type="text" id="name1"><br>
    Password: <input type="password" id="pass1"><br>
    <br>

    <input type="submit" value="Login" onclick="submit()">
    <br>
    <br>
    <p>Please Signup if new user</p>
    <input type="submit" value="Signup" onclick="signup()">
</body>