<!DOCTYPE html>
<html>
<head>
    <title> SIGNUP</title>
    <script type="text/javascript" src="/scripts/config.js"></script>
    <script type="text/javascript" src="/scripts/signup.js"></script>
</head>
<body>
    Name: <input type="text" id="name1"><br>
    Password: <input type="password" id="pass1"><br>
    Passed out: <select id = "passed_out1">
        <option value="true">True</option>
        <option value="false">False</option>
    </select>
    <input type="submit" value="Signup" onclick="submit()">
</body>