<!DOCTYPE html>
<html>
<head>
    <title>Student</title>
    <script type="text/javascript" src="/scripts/config.js"></script>
    <script type="text/javascript" src="/scripts/common.js"></script>
    <script type="text/javascript" src="/scripts/student.js"></script>
</head>
<body>
    <input type="button" onclick="listalumni()" value="Alumni List to Book" id="showlist">
    <p id="showData"></p>
    <br>
    <br>
    <br>
    <input type="button" onclick="myBookings()" value="My List of Bookings" id="showlist">
    <p id="myBookings"></p>
</body>